.page-auth {
    text-align: center;
}

.page-auth .container {
    width: 300px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    display: inline-block;
}

.page-auth img {
    height: 120px;
    margin: 10px;
}

.page-auth .submit {
    margin: 10px;
}